<div id="etiqueta-para-imprimir">
  <h2 mat-dialog-title>Etiqueta do Pedido</h2>
  <mat-dialog-content>
    <div class="label-container" *ngIf="data.pedido">
      <div class="header">
        <!-- CORRECÇÃO 1: Adiciona "!" aqui -->
        <h3>Pedido #{{ data.pedido.id!.substring(0, 8) }}</h3>
        <span>{{ data.pedido.criado_em | date:'dd/MM/yy HH:mm' }}</span>
      </div>
      <div class="content">
        <div class="details">
          <div *ngIf="data.pedido.nomeMotorista && data.pedido.nomeMotorista !== 'Não atribuído'"
            class="motorista-info">
            <h4>Motorista: <strong>{{ data.pedido.nomeMotorista }}</strong></h4>
          </div>
          <hr>
          <p><strong>Cliente:</strong> {{ data.pedido.nomeCliente }}</p>
          <p><strong>Endereço:</strong> {{ data.pedido.enderecoCliente?.rua }}</p>
          <p><strong>Bairro:</strong> {{ data.pedido.enderecoCliente?.bairro }}</p>
          <p><strong>Valor:</strong> {{ data.pedido.valor | currency:'BRL' }}</p>
          <hr>
          <p><strong>Caixas:</strong> {{ data.pedido.quantidade_caixas }} | <strong>Fardo:</strong> {{
            data.pedido.tem_fardo ? 'Sim' : 'Não' }}</p>
          <p><strong>Pagamento:</strong> {{ data.pedido.status_pagamento === 'na_entrega' ? 'NA ENTREGA' : 'PAGO' }}</p>
           </div>
            <div class="qr-code">
              <!-- CORRECÇÃO 2: Adiciona "!" aqui -->
              <qrcode [qrdata]="data.pedido.id!" [width]="128"></qrcode>
            </div>
        </div>
      </div>
  </mat-dialog-content>
</div>

<mat-dialog-actions align="end">
  <button mat-button (click)="fechar()">Fechar</button>
  <button mat-raised-button color="primary" (click)="imprimir()">Imprimir</button>
</mat-dialog-actions>