* {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-color: #f1f1f1;
    padding: 20px;

}

/* Adicione isso para centralizar a logo e os inputs */
form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Isso vai centralizar a logo */
    width: 100%;
}


.logo {
    width: 250px;
    height: auto;
    padding: 30px;
    margin-bottom: 0px;
}


.logo img {
    width: 100%;
    height: auto;
}


.container {
    width: 100%;
    background-color: transparent;
    border: 1px solid;
    border-radius: 10px;
    color: #44678D;
    padding: 30px 40px;
    box-shadow: 0 0 10px #44678D;
    max-width: 400px;
}


.container h1 {
    font-size: 36px;
    text-align: center;
    color: #44678D;
    margin-bottom: 30px;

}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;

}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #44678D;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder {
    color: #44678D;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember-forgot {
    display: flex;
    column-count: 2;
    column-gap: 30px;
    justify-content: center;
    margin: 0px 5 15px;
}

.remember-forgot label input {
    accent-color: #363636;
    margin-right: 5px;
}

.remember-forgot a {
    text-decoration: none;
    color: #44678D;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.Login {
    width: 100%;
    height: 50px;
    background-color: #F2E205;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #44678D;
    font-weight: 600;
    box-shadow: 0 0 10;
}

.register-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link a {
    text-decoration: none;
    color: #44678D;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
}