@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.carousel,
.carousel-item {
  height: 90vh;
}

.carousel-item {
  background-size: cover;
  background-position: center;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-fixed-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 10;
}

.carousel-fixed-caption h1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

#carouselAniversario .carousel-item img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  background-color: #000;
}

#carouselPromocoes .carousel-item,
#carouselHortifruti .carousel-item {
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.navbar-custom {
  background-color: rgb(0, 17, 66);
}

.navbar-custom .nav-link {
  color: #eeee08 !important;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-custom .nav-link:hover {
  color: #faf9f9 !important;
}

.section-title {
  font-weight: 700;
  color: #000025;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 3px solid #eeee08;
  display: inline-block;
}

.footer-link:hover {
  color: #eeee08 !important;
  text-decoration: underline !important;
}

.footer-social .social-icon {
  transition: color 0.3s ease;
}

.footer-social .social-icon:hover {
  color: #eeee08 !important;
}