<div class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>{{ isEditMode ? 'Editar Cliente' : 'Novo Cliente' }}</h1>
      </mat-card-title>
    </mat-card-header>

    <form (ngSubmit)="salvar()">

      <mat-card-content>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nome Completo</mat-label>
          <input matInput name="nome" [(ngModel)]="cliente.nome" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Telefone</mat-label>
          <input matInput 
                 name="telefone" 
                 [(ngModel)]="cliente.telefone"
                 (input)="formatPhone($event)"  
                 placeholder="(XX) XXXXX-XXXX">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Endereço</mat-label>
          <input matInput name="endereco" [(ngModel)]="cliente.endereco" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Bairro</mat-label>
          <input type="text"
                 placeholder="Digite para buscar..."
                 matInput 
                 [formControl]="bairroControl" 
                 [matAutocomplete]="autoBairro"
                 required>
          <mat-autocomplete #autoBairro="matAutocomplete">
            <mat-option *ngFor="let bairro of bairrosFiltrados | async" [value]="bairro">
              {{bairro}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-raised-button color="primary" type="submit">Salvar</button>
      </mat-card-actions>

    </form>
    </mat-card>
</div>